<template>

<div class="row">
    <side-bar />
    <div class="col-md-9">
        <item-car  v-for="(item, index) in dataLocal" :key="index" :data="item" :location="location" />
        <div class="cart__button link-back" v-if="$route.query.CARID">
            <a href="./"><< Back</a>
        </div>
    </div>
</div>

</template>
<script>
import {mapGetters} from 'vuex'
export default {
    components:
    {
        'item-car': () => import('./itemCar.vue'),
        'side-bar': () => import('@/layouts/sidebar.vue')
    },
    data() {
        return {
           dataLocal: [],
           location: ''
        }
    },
    asyncData(app) {
        return {
             dataLocal: [],
        }
    },
    computed: {
        ...mapGetters(["data", "search"])
    },
    watch: {
       
        search(newSearch)
        {
            this.dataLocal =  newSearch     
             console.log('newSearch',newSearch) 
        },
        data(newVal)
        {
           if(this.$store.state.check_search == false)
           {
               this.dataLocal = newVal
           }
            
        },
    },
    created() {
        this.location = this.$route.params.data
        this.$store.state.loading = 'active'
        this.$store.dispatch('fetchSetting',this.$route.params.data).then(() => {
             this.$store.dispatch('apiData',this.$route.params.data).then(() => {
                 this.$store.state.loading = ''
                 if(this.$route.query.CARID)
                {
                    this.$store.commit("FILTER_CARDID",this.$route.query.CARID)
                }
             }).catch(() => {
                 this.$store.state.loading = ''
             })
        })
        .catch((err) => {
            this.$store.state.loading = ''
        })
        
       
    },
}
</script>

<style lang="css">

.item-car {margin-bottom: 15px; background:#fff; border: 1px solid #e2e2e2;border-radius: 8px;}
.pd6 {padding: 6px;}
p,h1,h2,h3 {margin: 0}
.item-image img {width: 100%; height: auto;border-radius: 8px;}
.full-width {width: 100%;padding: 8px 15px;margin: 15px 0 0 0; border-radius:8px;}
.item-image {position: relative;height: 270px;overflow: hidden; background-color: #d3d3d3;border-radius:8px 8px 0 0;
    background-repeat: no-repeat; background-position: center;
    background-size: cover;}
.year {position: absolute; top: 0 ; right: 0; padding: .5rem 1rem; background: #c62828;color: #fff;
text-align: center;font-size: 25px;font-weight: blod; border-radius: 0 0 0 8px; z-index: 995}
.item-content {padding: 15px 15px 0 15px;}

</style>