<template>
 <div class="wrapper_card">
        <a :href="data[20]" target="_blank">
         <div class="card_image" :style="'background-image: url('+data[3]+')'"> </div>
        </a>
        <div class="card_content">
            <div class="card__title">
                <iframe :src="`https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fminarental.com/${location}?CARID=${data[1]}&layout=button_count&size=small&width=86&height=20&appId`" width="86" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                <h2>{{data[10]}} {{data[11]}} {{data[9]}}</h2>
                <p class="promotion" v-if="data[19]">{{data[19]}}</p>
                <p v-if="local == 'TRUE' && data[6]">
                    {{data[6]}}
                </p>
               
                <div class="card__info_item" v-if="local == 'TRUE' && data[8]">
                    <span>VIN: </span>
                    {{data[8]}}
                </div>
                <div class="card__info_item" v-if="local == 'TRUE' && data[14]">
                    <span>REGIS EXP: </span>
                    {{data[14]}}
                </div>
                <div class="card__info_item">
                    <span v-if="local != 'TRUE'">CAR ID: </span>
                    <span v-else>GA ID: </span>
                    {{data[1]}}
                </div>
                <div class="card__info_item" v-if="local == 'TRUE' && data[0]">
                    <span>TURO ID: </span>
                    {{data[0]}}
                </div>
            </div>
            <div class="card__info">
                <div class="card__info_item w-full">
                    <span>Features: </span>
                    {{data[16]}}
                </div>
                <div class="card__info_item" v-if="data[17]">   
                    <span>RideShare: </span>
                    {{data[17]}}
                </div>
                <div class="card__info_item" v-if="data[12]">
                    <span>Location: </span>
                    {{data[12]}}
                </div>
                
            </div>
            <span class="promotion" v-if="data[18]">{{data[18]}}</span>
            <div class="line line-one" v-if="local == 'TRUE'">
                <div class="cart__button col-sm-4 warning item-button"  v-if="data[21]">
                     <a :href="data[21]" target="_blank">GA KEY</a>
                </div>
                <div class="cart__button col-sm-4 warning item-button"  v-if="data[22]">
                     <a :href="data[22]" target="_blank">EDIT</a>
                </div>
                <div class="cart__button col-sm-4 warning item-button"  v-if="data[23]">
                     <a :href="data[23]" target="_blank">CALENDAR</a>
                </div>
                <div class="cart__button col-sm-4 warning item-button"  v-if="data[24]">
                     <a :href="data[24]" target="_blank">LOCATION</a>
                </div>
                <div class="cart__button col-sm-4 info item-button"  v-if="data[28]">
                     <a :href="data[28]" target="_blank">TURO CALENDAR</a>
                </div>
                 <div class="cart__button col-sm-4 info item-button"  v-if="data[25]">
                     <a :href="data[25]" target="_blank">TURO LOCATION</a>
                </div>
                 <div class="cart__button col-sm-4 info item-button"  v-if="data[26]">
                     <a :href="data[26]" target="_blank">HISTORY</a>
                </div>
                 <div class="cart__button col-sm-4 info item-button"  v-if="data[27]">
                     <a :href="data[27]" target="_blank">PREFERENCE</a>
                </div>
            </div>
            <div class="cart__button" v-if="data[20]">
                <a :href="data[20]" target="_blank">Book now</a>
            </div>
           
        </div>

</div>
</template>
<script>
import {mapGetters} from 'vuex'
export default {
    props: ["data","location"],
    computed: {
        ...mapGetters(["local"])
    },
}
</script>