#header {
background: #a400b4;
padding: 15px;
box-shadow: 0 1px 4px rgba(0,0,0,.2);
position: relative;
z-index: 1;
}

.search input {
    background: #f1f1f1;
    border: 1px solid #d9d9d9 !important;
}

.search button {
background: #636363
}

.wrapper__theme {
z-index: 2 !important;
}
.search input,.search button {
    font-size: 1rem;
    padding: 5px 15px;
}

@media screen and (max-width: 991px) {
     .hambuger {
         top: 50%;
         transform: translateY(-50%);
         background: transparent;
         border: 0;
         color: #000;
         font-size: 1.4rem;
    }
}
.pagination__style {
    margin: 0 auto;
}
.pagination__style li {list-style: none;display: inline-block;}
.pagination__style li a,.pagination__style li button {
    outline: none;
    color: #000;
    box-shadow: none !important;
    font-weight: bold;
    background: #fff;
    margin: 3px;
}
.pagination__style li.active a.page-link, .page-item.active .page-link,.page-link:hover {
    background: #A400B4;
    border-color: #A400B4;
    color: #fff !important;
}
#return-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 95px;
    right: 35px;
    background: #fff;
    width: 40px;
    height: 40px;
    z-index: 9999;
    text-decoration: none;
    border-radius: 4px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #333;
    line-height: 40px;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

#return-to-top:hover, ._2tga.active {
    background: #A400B4;
    color: #fff;
}
.more {display: none;}
.more.show {display: block;}
.page-item.hiden {display: none;}