body {
    line-height: 1.4;
    font-size: 14px;
    background: #f1f9f9
}

:root {
    --color-main: #e6b853;
}

.wrapper-header {
    background-color: #555;
    position: relative;
}

.wrapper-logo {
    text-align: center;
}

.wrapper-logo a {
    display: block;
}

.wrapper-logo img {
    height: 150px;
}

.wrapper-title {
    padding: 0 0 30px 0;
    text-align: center;
}

.wrapper-title h2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    position: relative;
    font-size: 2.5rem;
    line-height: 1;
    display: inline-block;
    padding-bottom: 15px;
    color: #000;
}

.wrapper-title h2:before {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 150px;
    height: 1px;
    background: var(--color-main);
}

.wrapper-title h2:after {
    width: 15px;
    height: 15px;
    transform: rotate(45deg) translateX(-50%);
    z-index: 2;
    background-color: #fff;
    bottom: -12.5px;
    left: calc(50%);
    border: 1px solid var(--color-main);
    position: absolute;
    content: "";
}

.wrapper-slider {
    padding: 30px 0 30px
}

.slider-item {
  
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.slider-main {
    background-color: #fff;
    box-shadow: 0 0 30px 5px #f5f5f5;
}
.slider-image {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.slider-content {
    padding: 30px 15px;
    text-align: center;
    background-color: #fff;
}

.slider-content .slider-name {
    margin-bottom: 1rem;
}

.slider-content .slider-name a {
    color: #000;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    transition: .3s all ease-in-out;
    text-decoration: none;
}

.slider-content .slider-desc {
    font-size: 1rem;
    color: #454545;
    margin-bottom: 1rem;
}

.slider-content .slider-readmore {
    margin-top: 1.5rem;
    text-align: center;
}

.slider-content .slider-readmore a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    transition: .3s all ease-in-out;
}

.slider-content .slider-readmore a svg {
    font-size: 12px;
    margin-left: 5px;
    color: var(--color-main);
    font-weight: bold;
    transition: .3s all ease-in-out;
}

.slider-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-effect:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(230, 184, 83, .2);
    content: '';
    transition: transform 0.6s;
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -110%, 0);
}

.slider-content .slider-name a:hover,
.slider-content .slider-name a:focus {
    color: var(--color-main);
}

.slider-content .slider-readmore a:hover svg,
.slider-content .slider-readmore a:focus svg {
    margin-left: 10px;
}

.slider-item:hover .slider-effect:before {
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 110%, 0);
}


.slider-item .owl-dots {
    text-align: center;
    margin-top: 1.5rem;
}

.slider-item .owl-dot {
    height: 22px;
    width: 22px;
    border-radius: 100%;
    border: 1px solid #d1d1d1;
    position: relative;
    background-color: #fff;
    margin: 0 5px;
    outline: none !important;
    box-shadow: none !important;
}

.slider-item .owl-dot:after {
    z-index: 2;
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background: #777;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s all ease-in-out;
}

.slider-item .owl-dot.active:after,
.slider-item .owl-dot:hover:after,
.slider-item .owl-dot:focus:after {
    background-color: var(--color-main);
}
.slider-image img {height: 400px;}
.mr-15 {margin: 15px;}
.pd-15 {padding: 15px;}
@media (min-width: 900px)
{
    #slider-car {display: flex;}
    .sl-50 {max-width: 50%;float: left;}
}
