* {margin: 0; padding: 0;}
body, #wrap-content, #app { background-color:#f1f9f9;}
.w-full input {width: 100%;background-color: transparent;color: #fff;font-size: 18px;}
.w-full input:-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
  }
.w-full input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
.w-full input:-ms-input-placeholder { /* IE 10+ */
    color:#fff;
}
.w-full input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
#header {padding: 15px;background-color: #a400b4;}

.search {
    text-align: center;
  }
  .search form {display: flex;}
  .search input {
      width: calc(100% - 83px) !important;
  }
  .search input, .search button {
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 20px;
  }
  
  .search input {
    border-radius: 25px 0 0 25px;
    width: 100%;
    max-width: 100%;
  }
  
  .search button {
    border-radius: 0 25px 25px 0;
    margin-left: -5px;
    color: white;
    background-color:black;
    cursor: pointer;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    min-height: 380px;
    position: relative;
  }
  .book-now {position: absolute;width: 100%;bottom: 0;}
  .feature{font-weight: 500;font-size: 13px;margin-left: 10px;;}
  .p15 {padding: 15px;;}
  .link_book {text-decoration: none;color: #fff;}

  body {
    line-height: 1.4;
    font-size: 14px;
    background: #f1f9f9
}

.wrapper_theme {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.wrapper_card {
    margin-bottom: 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    position: relative;
    z-index: 2;
}

.wrapper_card a {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    height: 100%;
}

.card_image {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
}

.card_image img {
    width: 100%;
    vertical-align: middle;
}

.card_content {
    margin-left: 50%;
    width: 50%;
    padding: 15px;
    background: #fff;
}

.card__span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
    color: #777
}

.card__actions {
    display: flex;
    align-items: center;
}

.card__actions label {
    margin-bottom: 0;
}

.actions__compare {
    margin-left: 15px;
}

.card__price span.card__price_p {
    font-weight: bold;
    color: #333;
    font-size: 1.3rem;
}

.card__price_m {
    border-left: 1px solid #d9d9d9;
    margin-left: 10px;
    padding-left: 10px;
    font-size: .7rem;
    color: #888
}

.card__title h2 {
    margin: 5px 0;
    font-size: 1rem;
    color: #333;
}

.card__badge {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
}

.card__badge > span {
    display: inline-block;
    font-size: .6rem;
    text-transform: uppercase;
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px;
}

.badge__style_one {
    color: #fff;
    background: #250858
}

.badge__style_two,
.badge__style_three,
.badge__style_four,
.badge__style_five {
    background: #d1d1d1;
    color: #181818;
    font-weight: bold;
    padding: 0 !important;
    display: flex !important;
    align-items: center;
    padding-right: 5px !important;
}

.badge__style_two span,
.badge__style_three span,
.badge__style_four span,
.badge__style_five span {
    height: 23px;
    width: 23px;
    line-height: 23px;
    text-align: center;
    color: #fff;
    background-color: #A400B4;
    display: inline-block;
    margin-right: 5px;
}

.badge__style_four span {
    background-color: #a7a7a7;
}

.badge__style_five {
    background: #D6EA90;
}

.badge__style_five span {
    background: #AED622
}

.card__info {
    display: flex;
    
    flex-wrap: wrap;
}

.card__info .card__info_item {
    width: 50%;
    margin-bottom: 5px;
    color: #444;
    font-size: .8rem;
}

.card__info_item span {
    font-weight: 700;
}

.card__file {
    display: flex;
    align-items: center;
    font-size: .8rem;
    color: #000;
    text-decoration: underline dotted #333;
    margin: 10px 0;
}

.card__file svg {
    color: #222;
    font-size: 1.5rem;
    margin-right: 5px;
}

.card__file:hover {
    text-decoration: underline solid #333;
}

.card__contact {
    font-size: .8rem;
    color: #333;
}

.card__contact span {
    font-weight: bold;
    color: #333;
}

.card__bottom {
    font-size: .7rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #555;
    margin-top: 5px;
}

.card__bottom .card__bottom_item:not(:last-child) {
    padding-right: 3px;
    border-right: 1px solid #d9d9d9;
}

.card__bottom .card__bottom_item:not(:first-child) {
    padding-left: 3px;
}

.cart__button a{
    display: block;
    border-radius: 20px;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    padding: 7px 15px;
    background: #A400B4;
    margin-top: 15px;
}
.cart__button a:hover {color: #fff;text-decoration: none;}

.cart__button_hiden {
    display: none;
}

.wrapper_search {
    padding: 15px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}

.wrapper_search .form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper_search .form-group input {
    width: 15px;
}

.wrapper_search .form-group label {
    font-size: .8rem;
    color: #181818;
    width: calc(100% - 15px);
    margin-bottom: 0;
    padding-left: 10px;
    line-height: 1.7;
}

.wrapper_search .form-group label span {
    color: #555
}

.wrapper_search .search_title {
    font-weight: bold;
    color: #181818;
    font-size: 1rem;
    margin-bottom: 15px;
}

.hambuger {
    display: none;
}

@media screen and (max-width: 991px) {
    .card_content {
        width: 100%;
        margin-left: 0;
        padding-top: 235px;
    }

    .card_image {
        width: 100%;
        height: 220px;
    }

    .cart__button_hiden {
        display: block;
        border-radius: 20px;
        color: #A400B4;
        font-size: 1rem;
        text-align: center;
        padding: 7px 15px;
        background: #fff;
        border: 1px solid #A400B4;
        margin-top: 15px;
    }

    .wrapper_search {
        opacity: 0;
        visibility: hidden;
        transition: .4s all;
        left: 0;
        top: 0;
        z-index: 9999;
        border-radius: 0;
        height: 100vh;
        position: fixed;
        overflow-y: scroll;
        width: 60%;;
        
    }
    .wrapper_search.search_right {
        left: 60%;
        width: 40%;
        background: #ffffff47;
        border: none;
        cursor: pointer;
    }

    .open_search {
        overflow: hidden;
    }

    .open_search .wrapper_search {
        right: 0;
        opacity: 1;
        visibility: visible;
    }

    .hambuger {
        position: absolute;
        border: 1px solid #d9d9d9;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        color: #fff;
        top: 0;
        right: 0;
        background-color: #A400B4;
        display: inline-block;
        margin: 0 0 0 auto;
        z-index: 3;
    }
}
.pd-5 {padding-left: 5px;}
.w-full {width: 100% !important}
.link-back {width: 50%;margin: auto;}
